<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>鹿島バックスタンド</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="チームロゴ" class="logo">
        <h1>アルバイトマニュアル</h1>
    </div>
    <div class="container fade-in-element">
        <div class="card">
            <h2 style="text-align: center;"> 全体連絡事項</h2>
            <h3>トイレ</h3>
            <p>5ゲートの再入場口を出て右手側の階段下にあります。</p>
            <h3>休憩の取り方</h3>
            <p>5ゲートの再入場口から外に出て、グッズ売り場の前を通り控室に戻ってください。</p>
            <h3>🚫禁止事項</h3>
            <ul>
                <li>エレベーターの使用禁止</li>
                <li>緊急事態以外での配置場所の離脱禁止</li>
            </ul>
        </div>
            <h2>メニュー</h2>
            <p>配置場所の情報を確認してください。</p>
            
            <a href="{{ url_for('backstand_entrance') }}" class="btn">バックスタンド入口</a>
            <a href="{{ url_for('backstand_inside') }}" class="btn">バックスタンド内</a>
            <a href="{{ url_for('third_floor_seats') }}" class="btn">ソファシート</a>
            <a href="{{ url_for('documents') }}" class="btn">スタジアム構造を見る</a>
            <a href="{{ url_for('faq') }}" class="btn">よくある質問</a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>