<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ソファシート</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="チームロゴ" class="logo">
        <h1>アルバイト情報サイト</h1>
    </div>
    <div class="container">
        <header><h2>ソファシート</h2></header>
        <p>業務内容：お客様のチケットを確認する</p>
        <p>ソファシートとゆったりシートのチケット所持者のみ通過させる</p>
        <p>こども広場は親と未就学児の同伴であれば上記のチケットなしでも利用可能。人数制限あり（10組20名程度）</p>
        <p>エリア内の食事は×、飲料は○</p>

        <hr>

        <h3>準備</h3>
        <p>各シートカバーを取り外し、収納BOXに入れる。</p>
        <p>※シートカバーベルトがあるものは一緒に収納する。</p>

        <hr>
        
        <h3>終了後</h3>
        <p>収納BOXからシートカバーを取り出し、各シートにかける。</p>
        <p>※シートカバーベルトがついていたシートにベルトを戻す。</p>
        <p>座席清掃を行う。</p>

        <a href="{{ url_for('home') }}" class="btn">ホームに戻る</a>
        <br><br>
        <a href="{{ url_for('logout') }}" class="logout-link">ログアウトする</a>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>